.title-section {
  text-align: center;
}

@media (min-width: 900px) {
  .title_cv h2 {
    font-size: 100px;
    padding: 100px 0 70px;
  }

  .title_cv p {
    font-size: 45px;
    padding-bottom: 150px;
  }

  .title-section img {
    width: 992px;
    height: 467px;
    border: 4px solid #4D9859;
    margin-bottom: 100px;
  }

  .infos-cv {
    padding: 0 249px 100px;
    display: flex;
  }

  .infos-cv h3 {
    font-size: 50px;
    padding-bottom: 30px;
  }

  .infos-cv p {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
  }

  .left-infos-cv, .right-infos-cv {
    flex: 1;
  }

  .left-infos-cv {
    padding-right: 80px;
  }

  .right-infos-cv .button_profile{
    margin-top: 50px;
  }

  .gallery {
    padding-bottom: 150px;
    text-align: center;
  }

  .gallery img {
    margin: 30px;
    width: 564px;
    height: 266px;
    border: 4px solid #4D9859;
  }
}
