@font-face {
  font-family: 'Bebas Neue';
  src: url('../../font/BebasNeue.otf');
}

@keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

body {
  font-family: "Bebas Neue", sans-serif;
  background-color: #232325;
  color: #fff;
}

abbr {
  text-decoration: none;
}

